*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(220, 246, 255);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* __________________________________HOME_________________________________________*/

.contenedor{
    width: 100%;
    max-width: 1400px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,auto);

    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "aside aside aside"
    "footer footer footer"
    ;
}

/* --------header---------- */
.contenedor .header{
    background: rgb(66, 66, 66);
    grid-area: header;
}

.logo-titulo{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logo-titulo h2{
    color: white;
    font-family: Hoefler Text,Baskerville Old Face,Garamond,Times New Roman,serif; 
    font-size: 3em;
    margin-top: 15px;
    margin-left: 10px;
}

.logo-titulo img{
    width: 60px;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 10px 30px 20px 30px;
    margin: auto;
}

nav ul li a{
    font-family: Hoefler Text,Baskerville Old Face,Garamond,Times New Roman,serif; 
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}

header a:hover{
    font-weight: bold;
    color: rgb(78, 68, 214);
}

.borde:hover{
    border-top: 3px solid rgb(184, 62, 62);
}

/* ---------------main---------------- */


.contenedor main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    "cont cont cont"
    "img img dato";
}

main .contenido{
    grid-area: cont;
}

/* ---------seccion smile--------- */

.contenido{
    height: 70vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url(../assets/images/o\ esta.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenido .smile{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.contenido .smile h1{
    font-size: 2.5em;
}

.contenido .smile p{
    font-size: 1.5em;
}
/* ---------seccion clinica ----------- */

main .seccion__clinica{
    text-align: center;
    grid-area: dato;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.seccion__clinica div{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: left;
    max-width: 100%;
    height: auto;
}

.seccion__clinica h2{
    background: -webkit-linear-gradient(rgb(180, 79, 79),rgb(185, 20, 20), rgb(60, 60, 197),rgb(11, 11, 63));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.seccion__clinica button{
    margin-top: 20px;
    margin-right: 35px;
    background-color: rgb(58, 57, 57) ;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px 20px 5px 20px;
}

main .seccion__clinica--imagen{
    grid-area: img;
    display: flex;
}

.seccion__clinica--imagen div{
    margin: 40px;
    display: flex;
}

.seccion__clinica--imagen div img{
    max-width: 100%;
    width: 830px;
    height: auto;
    border-radius: 30px;
}

/* --------------aside servicios----------- */
#nuestros-servicios{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    grid-area: aside;
}

#nuestros-servicios{
    padding: 70px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nuestros-servicios h2{
    font-size: 2rem;
    margin-bottom: 30px;
    color:lightseagreen
}

#nuestros-servicios p{
    display: none;
}

.carta{
    width:70vh;
}

.carta__primera{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url(../assets/images/bracket-tratamiento.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    padding: 50px;
    margin-bottom: 10px;
}

.carta__Segunda{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url(../assets/images/blanqueamiento.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding:50px;
    margin-bottom: 10px;
}

.carta__tercera{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url(../assets/images/dientes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding:50px;
    background-position-y:bottom
}

#nuestros-servicios button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 12px;
    border-radius: 15px;
    border: 2px;
    box-shadow: 2px 2px 10px black;
    background-color: lightblue;
}

#nuestros-servicios button:hover{
    background-color: lightseagreen;
    padding: 10px;
    border: 2px solid rgba(0,0,0,0.3);
}

/* --------------footer----------------- */
footer{
    margin-top: 100px;
    grid-area: footer ;
}

footer  p{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: flex-end;
    justify-content:right;
}

footer img{
    margin: 5px;
    width: 1.875rem;
    height: 1.875rem;
}


footer li{
    display: flex;
    flex-direction:row;
    justify-content: right;
    margin-right: 20px;
}

footer .datosClinica{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*____________________________contacto______________________________________*/

#rellenoForm{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url(../assets/images/paciente2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 120vh;
}

.formulario{
    display: flex;
    flex-direction: column;
    text-align:start;
    align-items: center;
    justify-content: center;
    color: white;
}

.formulario fieldset{
    margin-top: 100px;
}

.formulario__alineado-uno{
    margin-left: 3.4vh;
}

.formulario__alineado-dos{
    margin-left: 16.5vh;
}

.formulario__alineado-tres{
    margin-left: 3vh;
}

/*_____________________________________Nuestra clinica____________________________*/

#clinica {
    display: inline-block;
    position: sticky;
    left: 10vh;
    padding: 80px 50px 80px 50px;
    background-color: rgb(189, 231, 229);
    margin-left: 20px;
    margin-right: 20px;

}

#clinica img{
    width: 350px;
    height: 400px;
    margin: 10px;
    border-radius: 50px;
}

#clinica img:hover{
    border: 3px solid lightseagreen;
    box-shadow: 10px 10px 10px  black;
}

#nuestra-clinica{
    text-align: center;
    margin-bottom: 30vh;
}

#nuestra-clinica iframe{
    margin-top: 10vh;
    border: 5px solid lightskyblue;
}

/*_____________________________SERVICIOS__________________________*/

.caja1{
    background-color: rgb(171, 223, 220);
    width: 350px;
    height: 350px;
    margin: 10px;
    border: 2px solid lightseagreen;
    border-radius: 5px;
}

.caja2{
    background-color: rgb(171, 223, 220);
    width: 350px;
    height: 350px;
    margin: 10px;
    border: 2px solid lightseagreen;
    border-radius: 5px;
}

.caja3{
    background-color: rgb(171, 223, 220);
    width: 350px;
    height: 350px;
    margin: 10px;
    border: 2px solid lightseagreen;
    border-radius: 5px;
}

.caja4{
    background-color: rgb(171, 223, 220);
    width: 350px;
    height: 350px;
    margin: 10px;
    border: 2px solid lightseagreen;
    border-radius: 5px;
}

.caja5{
    background-color: rgb(171, 223, 220);
    width: 350px;
    height: 350px;
    margin: 10px;
    border: 2px solid lightseagreen;
    border-radius: 5px;
}

.caja6{
    background-color: rgb(171, 223, 220);
    width: 350px;
    height: 350px;
    margin: 10px;
    border: 2px solid lightseagreen;
    border-radius: 5px;
}

#cajasPrimerTrio{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 13vh;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 2vh;
    text-align: center;
}


#cajasSegundoTrio{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 13vh;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 30vh;

}

.tituloServicios{
    text-align: center;
}

/* ___________________________obra social____________________________ */
.contenedor__obra-social{
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin:auto;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);

    grid-template-areas: 
    "mutual mutual asideObraS"
    "mutual2 mutual2 asideObraS"
    "pago pago pago"
    "medios medios medios"
    ;
}
/* ---animacion h2 "obras sociales"----- */
.mutuales__primeras h2{
    animation-name: cambiarColor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cambiarColor{
    0%{
        color: rgb(212, 111, 111) ;
    }

    25%{
        color: rgb(190, 31, 31);
    }

    50%{
        color: rgb(75, 9, 9);
    }

    75%{
        color: rgb(42, 53, 148);
    }
    100%{
        color: rgb(212, 111, 111);
    }
}

.contenedor__obra-social .mutuales__primeras{
    grid-area: mutual;
    text-align: center;
    margin-top: 60px;
}

.mutuales__primeras div {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contenedor__obra-social .publicidad{
    grid-area: asideObraS ;
    margin-top: 60px;
    display: flex;
}

.contenedor__obra-social .publicidad img{
    max-width: 100%;
    width: 400px;
    height: auto;
}

.contenedor__obra-social .mutuales__segundas{
    grid-area: mutual2;
}

.mutuales__primeras img{
    transition-duration: 1s;
    transition-delay: 0.3s;
}

.mutuales__segundas img{
    transition-duration: 1s;
    transition-delay: 0.3s;
}

.mutuales__primeras img:hover{
    transform: scale(1.2);
    border-radius: 50px;
    box-shadow: 10px 10px 10px  black;
}
.mutuales__segundas img:hover{
    transform: scale(1.2);
    border-radius: 50px;
    box-shadow: 10px 10px 10px  black;
}

.mutuales__segundas div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.omint{
    max-width: 100%;
    width: 150px;
    height: auto;
}

.iosfa{
    max-width: 100%;
    width: 200px;
    height: auto;
}

.osmecon{
    max-width: 100%;
    width: 130px;
    height: auto;
}

/* ---------seccion medios de pagos------------- */
.contenedor__obra-social .pago{
    grid-area: pago;
}

.pago h2{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contenedor__obra-social .pago p{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contenedor__obra-social .medios__pago{
    grid-area: medios;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "primero segundo tercero";
}

.medios__pago div{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.medios__pago .primer__par{
    grid-area: primero;
}


.medios__pago .segundo__par{
    grid-area: segundo;
}

.medios__pago .tercer__par{
    grid-area: tercero;
}

.wave{
    margin-top: 100px;
}

/* ___________________________media queries___________________________*/
/* desktop first */

@media screen and (max-width: 1024px) {
    nav ul li{
        display: inline-block;
        padding: 10px;
        margin: auto;    
    }

    .contenedor main{
        grid-area: main;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
        "cont"
        "dato"
        "img";
    }
}

@media screen and (max-width: 768px) {
/* ------------HOME (INDEX)------------------- */
    .contenedor{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,auto);
    
        grid-template-areas: 
        "header"
        "main"
        "main"
        "aside"
        "footer"
        ;
    }

    .contenedor main{
        grid-area: main;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
        "cont"
        "dato"
        "img";
    }
    
    .contenido .smile{
        font-size: 0.7em;
    }


    nav ul li{
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

/* ---------mediaqueries obra social----------- */
    .contenedor__obra-social{
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,auto);
    
        grid-template-areas: 
        "mutual mutual"
        "mutual2 mutual2"
        "pago pago"
        "medios medios"
        ;
    }

    .contenedor__obra-social .publicidad{
        display: none;
    }

    .contenedor__obra-social .medios__pago{
        grid-area: medios;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "primero"
        "segundo"
        "tercero";
    }
}

@media screen and (max-width: 600px) {

    .contenedor__obra-social{
        grid-area: main;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(4,auto);
    
        grid-template-areas: 
        "mutual"
        "mutual2"
        "pago"
        "medios"
        ;
    }

    .mutuales__primeras div {
        flex-direction: column;

    }

    .mutuales__segundas div {
        flex-direction: column;
    }
    .mutuales__segundas div img{
        margin-top: 50px;
    }
} 

@media screen and (max-width: 480px) {

    footer  p{
        font-size: 0.8em;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content:center;
    }
    
    footer img{
        width: 15px;
        height: 15px;
    }
    
    footer li{
        display: flex;
        flex-direction:row;
        justify-content: center;
        margin-right: 10px;
    }
 
}